// Tipografia

/* $fuente_principal: 'Montserrat', sans-serif; */




//Colores

$azul: #0b76ba;
$verde: #8fcd5e;
$naranja: #f49231;
$negro: #000000;
$blanco: #FFFFFF;

//Tamanos de patallas para Media Queries

$celular: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:1200px;